.calculator-wrapper {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media only screen and (max-width: 480px) {
.calculator-wrapper {
    margin-top: 50px;
}
.button-container button {
    margin-top: 30px;
}
/* imaginery div to create space between content and sticky footer */ 
.block {
    height: 50px;
}
}