.BJJ-Gi, .BJJ-Nogi, .Muay-Thai {
    margin-top: 20px;
    max-width: 100%;
    /* prevents image from overlapping column */
}

.service-title {
    margin-top: 15px;
    text-align: center;
}

.pricing {
    text-align: center;
    margin-bottom: 15px;
}

.enquiries {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 8px;
    border-radius: 20px;
}

.enquiries:hover {
    color: #000;
    background-color: grey;
}

.anchor-wrapper {
    text-align: center;
}

@media only screen and (max-width: 480px)  {
    .service-description {
        padding-left: 30px;
        padding-right: 30px;
        color: black;
    }
}