.wrapper {
    margin: auto;
    margin-top: 50px;
    height: 120px;
}

.wrapper h3 {
    margin-top: 10px;
    text-align: center;
}

.wrapper p {
text-align: center;
margin-left: 5px;
margin-right: 5px;
}

.YT-video {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

@media only screen and (max-width: 934px) {
.wrapper p {
    font-size: 24px;
    padding: 14px;
}
.YT-video iframe {
    margin-top: 150px;
}
}

@media only screen and (max-width: 934px) {
    .YT-video iframe {   
    height: 520px;
    width: 720px;
    }
}

@media only screen and (max-width: 480px) {
.YT-video iframe{
    margin-top: 150px;
}
.wrapper p{
padding-left: 30px;
padding-right: 40px;
}
}