.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links ul a{
    margin: 5px;
}

.footer-container {
    height: 20vh;
}

.calculator-wrapper {
    margin-top: 120px;
}

.footer-text {
    color: #000;
    text-align: center;
}

.footer-text a{
    font-size: 18px;
}

.footer {
    background-color: #E5E4E2;
}


